#title-div{
    text-align: center;
    padding-top: 10rem;
}
#form-div{
    width: 80%;
    margin: auto;
    margin-top: 5rem;
    text-align: center;
}
.form-group{
    width: 60%;
    margin: auto;
    text-align: center;
}
input{
    margin: 2rem;
    padding: 1.5rem;
    width: 20%;
}
#sign-up-div{
    margin-top: 2em;
}
#sign-up-div span{
    font-size: large;
    text-decoration: underline;
    font-weight: bold;
}
#sign-up-div span:hover{
    color: aqua;
}
