.nav-link-author{
    text-decoration: none;

}
.nav-link-author :hover{
    color: dimgrey;
    font-weight: bold;
    font-size: larger;
}
.active-author{
    font-weight: bolder;
    font-style: italic;
}

#select-article-type{
    padding: 1em;
    background-color: white;
    font-weight: 600;
    color: rgb(80, 79, 79);
    border-radius: 15px;
    border: grey solid 2px;
}
#select-article-type:hover{
    border:cyan solid 2px;
}

#article-headers-table{
    margin:2em;
    border-radius: 1em;
    width:80%;
    height: 50vh;
    border: black solid 2px;
    background-color: rgb(255, 252, 249);
}
.article-header-div{
    background-color: white;
    display: flex;
    justify-content: space-between;
    border: black solid 2px;
    padding: 1em;
}